<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>takehelp</title>

</head>
<body style="font-family: 'Times New Roman', Times, serif; color: white;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">TakeHelp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
              <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
        <br>
            <h1 style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; text-align: center;">TAKEHELP</h1>
        <br>
            <h2 style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; text-align: center;">About Us</h2>
        <br>
            <h5 style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; text-align: center;">Take Help is a a virtual nursing and database web application<br>
                 that facilitate the user to predict the disease from the user’s given symptoms. <br>
                  This application will give the user information about the diseases and guide them <br>
                  with all possible way of how to diagnose it.<br>
                  the application will provide the user with the features of searching or selecting <br>
                  the disease from the list of information of diseases. <br>
                  The user can know if he/she have a certain disease by giving <br>
                  the required information to the application for performing test.<br>
                  The application will compare the symptoms against its database <br>
                  and then display result to the user.</h5>
                  <br> <br> <br>
                  <br> <p class="m-0 text-center text-white">Copyright &copy; TakeHelp2021</p>
</div>

    </body>