<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>takehelp</title>

</head>

<body style="font-family: 'Times New Roman', Times, serif;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">TakeHelp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://wallpaperaccess.com/full/1561053.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light" style="font-weight: bold; font-family: comic sans MS; font-size: xx-large;">WELCOME to TAKE HELP</h1>
        <p>Our website is designed to predict disease chances</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Physical fitness is the first requisite of happiness</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <img class="card-img-top" src="https://miro.medium.com/max/1200/1*twyCFLpb2mkWOZR4IUoBKA.jpeg">
            <h5 class="card-title" style="font-weight: bold;">PREDICT DISEASE</h5>
            <p class="card-text">Disease Prediciblity click here</p>
          </div>
          <div class="card-footer">
            <a href="/predict" class="btn btn-dark btn-sm">Take Test</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
           <div class="card-body">
            <img class="card-img-top"  src="https://images.pexels.com/photos/3109168/pexels-photo-3109168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            <h5 class="card-title" style="font-weight: bold;">SEARCH DISEASE</h5>
            <p class="card-text">Click here to search for more information</p>
          </div>
          <div class="card-footer">
            <a href="/search" class="btn btn-dark btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <img class="card-img-top"  src="https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5918.jpg?size=626&ext=jpg">
            <h5 class="card-title" style="font-weight: bold;">NEED HELP?</h5>
            <p class="card-text">you can find All the instructions related to TakeHelp</p>
          </div>
          <div class="card-footer">
            <a href="/help" class="btn btn-dark btn-sm">For Help</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; TakeHelp2021</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
